#setup{
    display: block;
}

#creationApp{
    display: none;
}

tr{
    margin:0;
    padding:0;
}

td{
    border: 2px solid black;
    margin: 0;
    height: 20px;
    width: 20px;
    
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

#dictionaryBox{
    width: 50%;
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
}

#dictionaryBox div{
    text-align: center;
}

#dictionaryBox label{
    padding-left: 8px;
    padding-right: 8px;
}
